body{
  height: 100%;
  width: 100%;
  font-size: 0px;
  cursor: default;
  caret-color: transparent;
  background-color: #000000;
}

a{
  outline: none;
}

.index-info{
  position: absolute;
  float: left;
  padding-left: 2%;
  font-size: 24px;
  color: #ffffff;
  width: 38%;
  height: 50%;
  text-overflow: clip;
  word-wrap: normal;
  z-index: 1;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.index-info h1{
  font-size: 48px;
}

.index-links{
  word-spacing: 1em;
}

.index-links a{
  color: #ffffff; /*hide text and enable text shadow to display text*/
  text-decoration: none;
  cursor: pointer;
}

.index-links a:hover{
  color:
}
/*target mobile viewports by targeting width, resolution of phones dont matter since they use virtual pixels*/

ul{
  list-style-type: none;
  padding: 0px;
  height: 100%;
  display: inline-block;
}

.slideshow, .slideshow:after{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;

}

.slideshow:after{
  content: '';
  background: transparent url(../../images/pattern.png) repeat top left;
}

.slideshow li span {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s;
}

.slideshow li:nth-child(1) span {
  background-image: url(../../images/thumbnails/aresdancemasters.jpg)
}
.slideshow li:nth-child(2) span {
  background-image: url(../../images/thumbnails/sadgirl.jpg);
  animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
  background-image: url(../../images/thumbnails/pairlightingfire.jpg);
  animation-delay: 12s;
}
.slideshow li:nth-child(4) span {
  background-image: url(../../images/thumbnails/huangcheng.jpg);
  animation-delay: 18s;
}
.slideshow li:nth-child(5) span {
  background-image: url(../../images/thumbnails/popgirls.jpg);
  animation-delay: 24s;
}
.slideshow li:nth-child(6) span {
  background-image: url(../../images/thumbnails/labrador.jpg);
  animation-delay: 30s;
}

@keyframes imageAnimation {
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

@media screen and (max-width: 1080px) {
  .index-info{
    width: 730px;
    height: 540px;
  }
}

@media screen and (max-width: 730px) {
  .index-info{
    width: 100%;
    padding: 2%;
    height: 100%;
    font-size: 18px;
  }

  .index-info h1{
    font-size: 36px;
  }
}
