@import url('https://fonts.googleapis.com/css?family=Lato|Libre+Barcode+128+Text|Montserrat&display=swap');

html{
  min-height: 100%;
}

body{
  margin: auto;
  max-width: 1200px;
  height: 100%;
  min-height: 100%;
  line-height: 1.6;
  color: #454545;
  padding: 0 10px;
  font-family: "Lato";
  font-size: 18px;
  overflow-y: scroll; /*this is to stop scrollbar from resizing the fucking page*/
  outline: none;
}

/*hyperlink colors*/
a{
  outline: none;
}

a:link{
  color: #07a;
  text-decoration: none;
}

a:visited{
  color: #ac5a82;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
/*div declarations for navbar*/
.navbar{
  max-width: 1200px;
  height: 18%;
  display: flex;
  justify-content: space-between;
  line-height: 1.0;
  padding-top: 18px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.logo{
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 48px;
  color: #000000; /*hide text and enable text shadow to display text*/
  cursor: pointer;
}

.logo a:link, a:visited, a:hover{
  color: #000000;
  text-decoration: none;
}

.links{
  font-family: "Montserrat";
  font-size: 18px;
  word-spacing: 2.0em;
}

.links a{ /* apparently a.links only works if i define class=links for anchor tags*/
  color: transparent; /*hide text and enable text shadow to display text*/
  text-shadow: 0 0 0 #999999;
  text-decoration: none;
  cursor: pointer;
}

.links a:hover{
  text-shadow: 0 0 0 #454545;
}

#current-page{/*class doesnt work because of some specificity shit*/
  text-shadow: 0 0 0 #454545;
}

.footer{
  font-size: 12px;
  position: relative;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .logo{
    font-size: 36px;
  }

  .links{
    font-size: 12px;
    /*need to resolve the line height issue to allow for links to be spaced correctly*/
  }
}

@media screen and (max-width: 576px) {
  .logo{
    font-size: 24px;
  }

  .links{
    font-size: 9px;
    /*need to resolve the line height issue to allow for links to be spaced correctly*/
  }
}

@media screen and (max-width: 480px) {
  .logo{
    font-size: 18px;
  }

  .links{
    font-size: 6px;
    /*need to resolve the line height issue to allow for links to be spaced correctly*/
  }
}

/*div declaration for about*/
.about{
  width: 48%;
  height: auto;
  padding-right: 2%;
  text-align: justify;
}

.about-wrapper{
  margin-top: 40px;
  max-width: 1200px;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  float: center;
  caret-color: transparent;
}

.portrait{
  width: 48%;
  height: auto;
  text-align: right;
  overflow: hidden;
  padding-left: 2%;
}

.portrait img{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .about-wrapper{
    display: block;
  }

  .about{
    width: 100%;
  }

  .portrait{
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
}

/*div declarations for project menu*/
.project{
  width: 380px;
  height: 450px;
}

a.project{
  color: transparent; /*hide text and enable text shadow to display text*/
  text-shadow: 0 0 0 #454545;
  text-decoration: none;
}

a.project:hover .project-thumbnail{
  opacity: 0.9;
}

.project-tile{

}

.project-thumbnail{ /*use as class for peektures only*/
  width: 380px;
  height: 380px;
  display: inline-block;
  object-fit: cover;
  transition: opacity 0.2s;
}


/*thumbnails are actual 380px but divs are not 1200px since its only max specified 1200px*/
.project-title{
  text-align: center;
  font-family: "Montserrat";
}

.project-wrapper{
  margin-top: 40px;
  max-width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media screen and (max-width: 1200px) {
  .project-wrapper{
    width: 100%;
    grid-row-gap: 1.5%
  }

  .project-tile{
    width: 32%;
  }
}

@media screen and (max-width: 640px) {
  .project-wrapper{
    margin-top: 40px;
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

/*div declarations for projects*/
.project-container{
  width: 100%;
  height: 100%;
  bottom: 0;
  padding-top: 2%;
}

.project-information{
  width: 29%;
  margin: auto;
  float: left;
  top: 0px;
  margin-right: 1%;
  word-wrap: break-word;
}

.project-gallery{
  width: 70%;
  margin: auto;
  float: right;
  text-align: center;
}

.image-wrapper img{
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 5%;
}

/*div declarations for gallery*/
.gallery-wrapper{
  margin-top: 40px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.gallery-column{
  width: 32.5%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.gallery-column img{
  width: 100%;
  height: auto;
  padding-bottom: 3.5%;
}

@media screen and (max-width: 640px) {
  .gallery-wrapper{
    display: block;
  }

  .gallery-column{
    width: 100%;
  }
}

/*div declarations for contact icons*/
.contact-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  caret-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.contact-list{
  margin: 0 auto;
  font-size: 48px;
}

.contact-link{
  margin-top: 100px;
  font-family: "Montserrat", sans-serif;
}

.contact-wrapper a{
  color: #454545;
  text-decoration: none;
}

.icon{
  height: 72px;
  width: 72px;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .icon{
    height: 48px;
    width: 48px;
  }

  .contact-list{
    font-size: 24px;
  }
}
