@import url("https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text&display=swap");

html{
  min-height: 100%;
}

body{
  margin: auto;
  max-width: 1200px;
  height: 100%;
  min-height: 100%;
  line-height: 1.6;
  color: #454545;
  padding: 0 10px;
  font-family: "Lucida Sans Unicode";
  font-size: 18px;
  overflow-y: scroll; /*this is to stop scrollbar from resizing the fucking page*/
  outline: none;
}

/*hyperlink colors*/
a{
  outline: none;
}

a:link{
  color: #07a;
  text-decoration: none;
}

a:visited{
  color: #ac5a82;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
/*div declarations for navbar*/
.navbar{
  max-width: 1200px;
  height: 18%;
  display: flex;
  justify-content: space-between;
  line-height: 1.0;
  padding-top: 10px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.logo{
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 48px;
  color: #000000; /*hide text and enable text shadow to display text*/
  cursor: pointer;

}

.logo a:link, a:visited, a:hover{
  color: #000000;
  text-decoration: none;
}

.links{
  word-spacing: 2.0em;
}

.links a{ /* apparently a.links only works if i define class=links for anchor tags*/
  color: transparent; /*hide text and enable text shadow to display text*/
  text-shadow: 0 0 0 #999999;
  text-decoration: none;
  cursor: pointer;
}

.links a:hover{
  text-shadow: 0 0 0 #454545;
}

#current-page{/*class doesnt work because of some specificity shit*/
  text-shadow: 0 0 0 #454545;
}

.footer{
  font-size: 12px;
  position: relative;
  bottom: 0;
}

/*div declaration for about*/
.about{
  width: 48%;
  height: auto;
  float: left;
  padding-right: 2%;
  text-align: justify;
}

.portrait{
  width: 48%;
  height: auto;
  float: right;
  text-align: right;
  overflow: hidden;
  padding-left: 2%;
}

.portrait img{
  width: 100%;
  height: auto;
}
/*div declarations for project menu*/
.project{
  width: 380px;
  height: 450px;
}

a.project{
  color: transparent; /*hide text and enable text shadow to display text*/
  text-shadow: 0 0 0 #454545;
  text-decoration: none;
}

a.project:hover .project-thumbnail{
  opacity: 0.9;
}

.project-tile{
  width: 380px;
  height: 380px;

}
.project-thumbnail{ /*use as class for peektures only*/
  width: 380px;
  height: 380px;
  display: inline-block;
  object-fit: cover;
  transition: opacity 0.2s;
}


/*thumbnails are actual 380px but divs are not 1200px since its only max specified 1200px*/
.project-title{
  text-align: center;
}

.project-wrapper{
  margin-top: 40px;
  max-width: 1200px;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  float: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*div declarations for projects*/
.project-container{
  width: 100%;
  height: 100%;
  bottom: 0;
  padding-top: 2%;
}

.project-information{
  width: 29%;
  margin: auto;
  float: left;
  top: 0px;
  margin-right: 1%;
  word-wrap: break-word;
}

.project-gallery{
  width: 70%;
  margin: auto;
  float: right;
  text-align: center;
}

.image-wrapper img{
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 5%;
}

/*div declarations for contact icons*/
.contact-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-list{
  margin: 0 auto;
  font-size: 48px;
}

.contact-link{
  margin-top: 100px;
}

.icon{
  height: 72px;
  width: 72px;
  vertical-align: middle;
}
